/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v21-latin-300.woff2") format("woff2");
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2");
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v21-latin-600.woff2") format("woff2");
}
/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v21-latin-900.woff2") format("woff2");
}
:root {
  --brand-color: #819b57;
  --brand-color-dark: #465929;
  --primery-dark: #31261a;
  --primery-light: #faf4ea;
  --secondary-backgrd-color: #a18268;
}

/* -------base styles */
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--primery-dark);
  background-color: var(--primery-light);
  line-height: 1.5;
  margin: 0;
  /* padding: 0 24px; */
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

h1 {
  color: var(--primery-light);
  font-weight: 900;
  font-size: 128px;
  /* text-transform: uppercase; */
  margin-bottom: 0;
  text-align: center;
}

h1 .accent {
  color: var(--brand-color);
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--primery-dark);
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  fill: var(--primery-dark);
}

.slider-button.next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-button:hover {
  background-color: var(--primery-dark);
  fill: var(--primery-light);
}

/* .slider-arrow {
  fill: var(--primery-dark);
}
.slider-button:hover .slider-arrow {
  fill: var(--primery-light);
} */
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
}

.flex-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.section-title {
  color: var(--primery-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}

.section-title .accent {
  color: var(--brand-color-dark);
}

.section-title.centered {
  text-align: center;
}

.page-section {
  padding: 48px 0;
}

.page-section:nth-child(3) {
  padding-top: 96px;
}

.page-section:last-child {
  padding-bottom: 96px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-top: 30px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.header-nav .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 64px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  /* padding: 0px 100px 0px 100px; */
}

.main-title {
  padding: 272px 0;
  background-image: linear-gradient(102deg, rgba(49, 38, 26, 0) 2%, rgba(49, 38, 26, 0.71) 55%, rgba(49, 38, 26, 0.7) 80%), url(../img/background-main-page.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.button-call {
  font-size: 18px;
  font-weight: 600;
  color: var(--primery-light);
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
  border-radius: 8px;
  /* width: 300px;
  height: 30px; */
  cursor: pointer;
  padding: 16px 32px;
  /* text-align: center; */
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button-call:hover {
  color: var(--brand-color);
  background-color: var(--primery-light);
  /* background-color: transparent; */
}

.link {
  color: var(--primery-light);
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.link:hover {
  color: var(--brand-color);
  /* font-weight: 600; */
}

.social-links {
  fill: var(--primery-light);
}

.social-links:hover {
  fill: var(--brand-color);
}

.advantages {
  background-color: var(--brand-color);
}

.advantages-list {
  /* background-color: var(--brand-color); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 40px;
}

.advantages-item {
  color: var(--primery-light);
  font-weight: 300;
  font-size: 20px;
  padding: 16px 0;
}

.flex-container-tradition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.trad-title {
  margin-bottom: 42px;
}

.tradition-text:nth-child(3) {
  max-width: 340px;
}

.tradition-text span {
  color: var(--brand-color);
}

.tradition-text .up {
  text-transform: uppercase;
  font-weight: 600;
}

.tradition-text {
  margin-bottom: 16px;
}

.section-tradition-img {
  border-radius: 50% 50% 0 0;
}

.chef-title {
  margin-bottom: 80px;
  /* max-width: 550px; */
  /* text-align: center; */
  margin: 0 auto 80px;
  position: relative;
}

.chef-title::after,
.chef-title::before {
  display: block;
  width: 360px;
  border: 2px solid var(--brand-color-dark);
  content: "";
}

.chef-title::before {
  position: absolute;
  bottom: 0;
  left: 0;
}

.chef-title::after {
  position: absolute;
  bottom: 0;
  right: 0;
}

.chef-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 100px;
}

.chef-item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  max-height: 25rem;
}

.chef-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  padding: 0 32px 0 0;
  max-height: 25rem;
}

.chef-name {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}

.chef-photo {
  /* border: 1px solid var(--primery-dark); */
  border-radius: 4px 4px 4px 200px;
  -webkit-box-shadow: -16px 16px 0 0 var(--primery-light), -16px 16px 0 2px var(--secondary-backgrd-color);
          box-shadow: -16px 16px 0 0 var(--primery-light), -16px 16px 0 2px var(--secondary-backgrd-color);
}

.chef-about-text p {
  margin-bottom: 16px;
}

.formats-title {
  margin-bottom: 80px;
  text-align: center;
}

.container-formats-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* flex-basis: calc((100% - 80px) / 2); */
}

.formats-list {
  -ms-flex-preferred-size: calc((100% - 40px) / 3);
      flex-basis: calc((100% - 40px) / 3);
  /* flex-basis: 380px; */
}

.formats-item {
  border: 2px solid antiquewhite;
  border-radius: 16px;
  padding: 20px;
  height: 450px;
  width: 100%;
  /* background-color: antiquewhite; */
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 1.2rem;
}

.formats-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.formats-item-title {
  font-size: 24px;
  font-weight: 600;
  color: var(--primery-light);
}

.formats-item-text {
  color: var(--primery-light);
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.6rem;
}

.formats-item.image1 {
  background-image: linear-gradient(210deg, rgba(49, 38, 26, 0) 55%, rgba(49, 38, 26, 0.71) 73%, var(--primery-dark) 100%), url(/img/PURI091.jpg);
}

.formats-item.image2 {
  background-image: linear-gradient(210deg, rgba(49, 38, 26, 0) 55%, rgba(49, 38, 26, 0.71) 73%, var(--primery-dark) 100%), url(/img/PURI092.jpg);
}

.formats-item.image3 {
  background-image: linear-gradient(210deg, rgba(49, 38, 26, 0) 55%, rgba(49, 38, 26, 0.71) 73%, var(--primery-dark) 100%), url(/img/PURI093jpg.jpg);
}

.call-back-form {
  /* flex-basis: calc((100% - 32px) / 2); */
}

.contacts-title {
  margin-bottom: 16px;
}

.contact-map {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 0;
  border-radius: 16px;
}

.footer {
  background-image: url(../img/footer-background1.png);
  background-color: var(--primery-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.footer-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 16px;
  gap: 16px;
}

.footer-nav-section,
.footer-address-section {
  -ms-flex-preferred-size: calc(50% - 16px);
      flex-basis: calc(50% - 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.footer-logo,
.footer-address {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.footer-address-section {
  /* flex-basis: 50%;
  display: flex; */
}

.footer-address {
  /* flex-basis: 50%; */
}

.privacy-policy {
  /* flex-basis: 50%; */
}

.footer::before,
.footer::after {
  position: absolute;
  background-repeat: no-repeat;
  content: "";
}

.footer::before {
  background-image: url(../img/footer-image2.png);
  width: 180px;
  height: 120px;
  bottom: 0;
}

.footer::after {
  background-image: url(../img/footer-image1.png);
  width: 320px;
  height: 190px;
  right: 120px;
  bottom: 0;
}

.address-links {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}

.copyright {
  font-size: 14px;
  color: var(--secondary-backgrd-color);
}

.overlay {
  padding: 20px 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: 0.3s;
}

.modal-window {
  width: 100%;
  height: 100%;
  max-width: 880px;
  max-height: 880px;
  background-color: var(--primery-light);
  border-radius: 32px;
  position: relative;
  padding: 128px;
  overflow-y: auto;
}

.overlay.is-hidden {
  /* display: none; */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-close {
  position: absolute;
  right: 32px;
  top: 32px;
  background-color: var(--primery-light);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
}

.input-field {
  padding: 16px 42px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--brand-color-dark);
  background-color: transparent;
  font-size: 16px;
}

.form-label {
  display: block;
  position: absolute;
  /* top: 16px;
  left: 42px;
  font-size: 16px;
  line-height: 1.18;
  transition: transform 0.3s; */
}

.form-field {
  margin-bottom: 32px;
  position: relative;
}

/* .form-field:focus-within .form-label {
  transform: translate(-36px, -40px);
} */
.input-field:focus {
  border-color: var(--brand-color);
  outline: none;
}

/* .input-field:focus + .form-label {
  transform: translate(-36px, -40px);
} */
.input-field::-webkit-input-placeholder {
  color: var(--secondary-backgrd-color);
}
.input-field::-moz-placeholder {
  color: var(--secondary-backgrd-color);
}
.input-field:-ms-input-placeholder {
  color: var(--secondary-backgrd-color);
}
.input-field::-ms-input-placeholder {
  color: var(--secondary-backgrd-color);
}
.input-field::placeholder {
  color: var(--secondary-backgrd-color);
}

.input-field:focus::-webkit-input-placeholder {
  color: var(--primery-dark);
}

.input-field:focus::-moz-placeholder {
  color: var(--primery-dark);
}

.input-field:focus:-ms-input-placeholder {
  color: var(--primery-dark);
}

.input-field:focus::-ms-input-placeholder {
  color: var(--primery-dark);
}

.input-field:focus::placeholder {
  color: var(--primery-dark);
}

.form-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 36px;
}

.form-terms {
  color: var(--secondary-backgrd-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  max-width: 220px;
  margin: 0 auto;
}

.form-terms-link {
  color: var(--brand-color);
  text-underline-offset: 4px;
}/*# sourceMappingURL=main.css.map */