:root {
  --brand-color: #819b57;
  --brand-color-dark: #465929;
  --primery-dark: #31261a;
  --primery-light: #faf4ea;

  --secondary-backgrd-color: #a18268;
}

$mw-phone: 480px;
$mw-tablet: 780px;
$mw-desktop: 1280px;
