.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1288px;
  padding: 0 24px;
}
.flex-container2 {
  display: flex;
  gap: 32px;
}

.section-title {
  color: var(--primery-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1.3;
}
.section-title .accent {
  color: var(--brand-color-dark);
}
.section-title.centered {
  text-align: center;
}
.page-section {
  padding: 48px 0;
}
.page-section:nth-child(3) {
  padding-top: 96px;
}
.page-section:last-child {
  padding-bottom: 96px;
}
