.formats-card {
  // flex-basis: calc((100% - 40px) / 3);
  border: 2px solid antiquewhite;
  border-radius: 16px;
  padding: 20px;
  height: 450px;
  width: 100%;
  /* background-color: antiquewhite; */
  transition: transform 0.3s;

  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 1.2rem;

  &:hover {
    transform: scale(1.05);
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: var(--primery-light);
  }

  &__text {
    color: var(--primery-light);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    max-width: 300px;
  }
}

.formats-card--image1 {
  background-image: linear-gradient(
      210deg,
      rgba(49, 38, 26, 0) 55%,
      rgba(49, 38, 26, 0.71) 73%,
      var(--primery-dark) 100%
    ),
    url(/img/PURI091.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.formats-card.image2 {
  background-image: linear-gradient(
      210deg,
      rgba(49, 38, 26, 0) 55%,
      rgba(49, 38, 26, 0.71) 73%,
      var(--primery-dark) 100%
    ),
    url(/img/PURI092.jpg);
  background-repeat: no-repeat;
}
.formats-card.image3 {
  background-image: linear-gradient(
      210deg,
      rgba(49, 38, 26, 0) 55%,
      rgba(49, 38, 26, 0.71) 73%,
      var(--primery-dark) 100%
    ),
    url(/img/PURI093jpg.jpg);
}
